
footer {
    bottom:0;
    width:100%;
    height: 40px;
    display: flex;
    position:fixed;
    align-items: center;
   
    justify-content: space-between;

    .footLogo{
        font-size: 15px;
        margin-left: 20px;
        font-family: LatoItalic;
    }

    .spef-text {
        display: flex;
    
        .spef-text-inside{
             font-size: 15px;
             margin-right: 26px;
             font-family: LatoItalic;
        }
    }

    img {
        width: 19px;
        height: 19px;
        margin-right: 40.4px;
    }
}

//responsiveness for footer
@media only screen and (max-width: 800px) {
    footer {
      width: 100%;
      height: 19px;
      margin: 0 40px 26px 40px;
      margin: 0 auto;
      margin-bottom: 22px;
    }
  }