.login-wrapper {
    background-color: #FFD972;
    height: 100%;
    position: relative;


    .login-signup {
        position: absolute;
        margin-left: 450px;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .login {

            h1 {
                font-size: 30px;
                margin-bottom: 60px;
                font-family: LatoBlack;
            }
        }

        .sign-up {
            margin-left: 200px;

            .signup-alert {
                font-size: 12px;
                font-family: LatoItalic;
            }

            h1 {
                font-size: 30px;
                margin-bottom: 60px;
                font-family: LatoBlack;
            }
        }

    #em, #pw , #fn, #ln, #sem, #spw {
        width: 206.5px;
        border: none;
        display: block;
        margin-bottom: 50px;
        background-color: #FFD972;
        border-bottom: 2px solid black;
    }
    ::-webkit-input-placeholder { 
        color: black;
        font-size: 12px;
        font-family: LatoRegular;
    }

.buttons {
     width: 209px;
     height: 52px;
     font-size: 25px;
     padding: 10px 32px;
     border-radius: 112px;
     border: none;
     cursor: pointer;
     text-decoration: none;
     color: black;
      background-color: #FFD972; 
      font-family: CaveatRegular;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
    }
    }
   
}