//login wrapper 
.login-wrapper {
    background-color: #FFD972;
    height: 713px;
    position: relative;

//styling for the div holding both login and signup divs
    .login-signup {
        position: absolute;
        margin-left: 450px;
        margin-top: 120px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // background-color: #FFD972;

        //begin login div
        .login {

            //styling h1 inside of login div
            h1 {
                font-size: 30px;
                margin-bottom: 60px;
                font-family: LatoBlack;
            }
        }


        //styling for sign up div
        .sign-up {
            margin-left: 200px;

            //text on top of main header
            .signup-alert {
                font-size: 12px;
                font-family: LatoItalic;
            }

            //sign up text
            h1 {
                font-size: 30px;
                margin-bottom: 60px;
                font-family: LatoBlack;
            }
        }

        //individual inputs that have same styling to them
    #em, #pw , #fn, #ln, #sem, #spw {
        width: 206.5px;
        border: none;
        display: block;
        margin-bottom: 50px;
        background-color: #FFD972;
        border-bottom: 2px solid black;
    }
    //this is what changes the placeholder text
    ::placeholder { 
        color: black;
        font-size: 12px;
        font-family: LatoRegular;
    }
//styling for both buttons (login + signup)
.buttons {
     width: 209px;
     height: 52px;
     font-size: 25px;
     padding: 10px 32px;
     border-radius: 112px;
     color: black;
     border: none;
     cursor: pointer;
     text-decoration: none;
     background-color: #FFD972; 
     font-family: CaveatRegular;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
    }
    }
   
}

//responsiveness for login
@media only screen and (max-width: 800px) {

    .login-wrapper {
        min-height: 1300px;
       .login-signup{
        margin-left: 100px;
       flex-direction: column;

       .login {
        margin-top: 120px;
        // margin-bottom: 10px;
        }

       .sign-up {
        margin-top: 240px;
        margin-left: 50px;
       }
    } 
    }

    
}