.home-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image:linear-gradient( rgba(242, 92, 84, 0.5),( rgba(242, 92, 84, 0.5))), url(../../images/hero.jpg);
}


