.home-wrapper {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image:linear-gradient( rgba(242, 92, 84, 0.5),( rgba(242, 92, 84, 0.5))), url(../../images/hero.jpg);
    
    .pink-circle {
            margin-top: 70px;
            width: 167.88px;
            height: 167.88px;
            border-radius: 50%;
            top: 100px;
            left: 800px;
            position: absolute;
            background-color: #FCBCB8;

            .pink-home-text {
                width: 105.76px;
                height: 37.77px;
                margin-top: 65px;
                margin-left: 45px;
                font-size: 10px;
                font-family: LatoItalic;
            }
            }

     .yellow-circle {
        margin-top: 60px;
        width: 357.58px;
        height: 357.58px;
        border-radius: 50%;
        top: 175px;
        left: 550px;
        position: absolute;
        background-color: #FFD972;

        h1 {
            width: 300px;
            height: 32px;
            font-size: 24px;
            font-family: CaveatBold;
           margin: 80px auto 0 110px; //top right bottom left
        }
        .yellow-home-text {
            width: 164px;
            height: 78px;
            font-size: 13px;
            font-family: LatoRegular;
            margin: 70px auto 0 110px; //top right bottom left
        }
        }
    }