.yRecipes-wrapper {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image:linear-gradient((rgba(167, 232, 189, 0.5)),(rgba(167, 232, 189, 0.5))), url(../../images/recipe-hero.jpg);
    
}